<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>612690733755-65dbr6atcprqsifnofapu0dk6egrebrh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612690733755-65dbr6atcprqsifnofapu0dk6egrebrh</string>
	<key>API_KEY</key>
	<string>AIzaSyA8df3LAxeluzue-5X_bZ6e9-I8YyftxKg</string>
	<key>GCM_SENDER_ID</key>
	<string>612690733755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jeff-Lingley.Social</string>
	<key>PROJECT_ID</key>
	<string>social-7ad7d</string>
	<key>STORAGE_BUCKET</key>
	<string>social-7ad7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:612690733755:ios:317d26d6fbecde43</string>
	<key>DATABASE_URL</key>
	<string>https://social-7ad7d.firebaseio.com</string>
</dict>
</plist>